{
  "openapi": "3.0.3",
  "info": {
    "title": "Долгое наступление — Book Club API",
    "description": "API сайта книжного клуба «Долгое наступление». Runtime-каталог хранится в Postgres. Авторизация через NextAuth v5 с session cookie; /api/admin/* требуют session.user.isAdmin=true; /api/cron/* требуют Bearer CRON_SECRET; /api/test/* доступны только в NEXTAUTH_TEST_MODE=true вне production.",
    "version": "1.2.0"
  },
  "servers": [
    {
      "url": "https://www.slowreading.club",
      "description": "Production"
    },
    {
      "url": "https://book-club-slow-rising.vercel.app",
      "description": "Vercel fallback"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local dev"
    }
  ],
  "tags": [
    {
      "name": "Public",
      "description": "Публичные эндпоинты"
    },
    {
      "name": "Auth",
      "description": "Эндпоинты для авторизованного пользователя"
    },
    {
      "name": "Admin",
      "description": "Только для администраторов"
    },
    {
      "name": "Cron",
      "description": "Внутренние cron-эндпоинты с Bearer CRON_SECRET"
    },
    {
      "name": "Testing",
      "description": "Test-only endpoints, включены только при NEXTAUTH_TEST_MODE=true вне production"
    },
    {
      "name": "Media",
      "description": "Генерируемые медиа-ответы"
    }
  ],
  "components": {
    "securitySchemes": {
      "sessionCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "authjs.session-token",
        "description": "NextAuth session cookie"
      },
      "cronBearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "CRON_SECRET для cron endpoints"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "SummaryHelpfulState": {
        "type": "object",
        "description": "Персонализированное состояние реакции; ответы всегда private, no-store.",
        "properties": {
          "count": {
            "type": "integer",
            "minimum": 0
          },
          "reacted": {
            "type": "boolean"
          }
        },
        "required": [
          "count",
          "reacted"
        ]
      },
      "SummaryHelpfulReconcileRequest": {
        "type": "object",
        "properties": {
          "summaryId": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "summaryId"
        ]
      },
      "Ok": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "example": true
          }
        },
        "required": [
          "ok"
        ]
      },
      "Success": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          }
        },
        "required": [
          "success"
        ]
      },
      "DateTime": {
        "type": "string",
        "format": "date-time"
      },
      "PublicBook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "type": {
            "type": "string",
            "enum": [
              "Book",
              "Article"
            ]
          },
          "pages": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "link": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "coverUrl": {
            "type": "string",
            "nullable": true
          },
          "whyRead": {
            "type": "string",
            "nullable": true
          },
          "recommendationLink": {
            "type": "string",
            "nullable": true
          },
          "isNew": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "reading",
              "read"
            ],
            "nullable": true
          },
          "signupCount": {
            "type": "integer"
          },
          "submittedByMember": {
            "type": "boolean"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "hidden",
              "published"
            ]
          },
          "source": {
            "type": "string",
            "enum": [
              "admin",
              "submission"
            ]
          },
          "sortOrder": {
            "type": "integer"
          },
          "summaryCount": {
            "type": "integer",
            "description": "Количество опубликованных саммари по книге"
          }
        },
        "required": [
          "id",
          "name",
          "author",
          "tags",
          "type",
          "pages",
          "date",
          "link",
          "description",
          "coverUrl",
          "isNew",
          "summaryCount"
        ]
      },
      "AdminBook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "type": {
            "type": "string",
            "enum": [
              "book",
              "article"
            ]
          },
          "pages": {
            "type": "integer",
            "nullable": true
          },
          "publishedDate": {
            "type": "string"
          },
          "textUrl": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "coverUrl": {
            "type": "string",
            "nullable": true
          },
          "whyRead": {
            "type": "string",
            "nullable": true
          },
          "recommendationLink": {
            "type": "string",
            "nullable": true
          },
          "readingStatus": {
            "type": "string",
            "enum": [
              "reading",
              "read"
            ],
            "nullable": true
          },
          "visibility": {
            "type": "string",
            "enum": [
              "hidden",
              "published"
            ]
          },
          "isNew": {
            "type": "boolean"
          },
          "sortOrder": {
            "type": "integer"
          },
          "source": {
            "type": "string",
            "enum": [
              "admin",
              "submission"
            ]
          },
          "signupCount": {
            "type": "integer"
          },
          "submittedByName": {
            "type": "string",
            "nullable": true
          },
          "submittedByEmail": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "$ref": "#/components/schemas/DateTime"
          },
          "updatedAt": {
            "$ref": "#/components/schemas/DateTime"
          },
          "publishedAt": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DateTime"
              }
            ],
            "nullable": true
          },
          "hiddenAt": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DateTime"
              }
            ],
            "nullable": true
          }
        }
      },
      "BookInput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "tags": {
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "string"
              }
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "book",
              "article"
            ]
          },
          "pages": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ],
            "nullable": true
          },
          "publishedDate": {
            "type": "string"
          },
          "textUrl": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "coverUrl": {
            "type": "string",
            "nullable": true
          },
          "whyRead": {
            "type": "string",
            "nullable": true
          },
          "recommendationLink": {
            "type": "string",
            "nullable": true
          },
          "readingStatus": {
            "type": "string",
            "enum": [
              "reading",
              "read"
            ],
            "nullable": true
          },
          "visibility": {
            "type": "string",
            "enum": [
              "hidden",
              "published"
            ]
          },
          "isNew": {
            "type": "boolean"
          },
          "sortOrder": {
            "type": "integer"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "contactEmail": {
            "type": "string",
            "nullable": true
          },
          "contacts": {
            "type": "string",
            "nullable": true
          },
          "authProvider": {
            "type": "string",
            "nullable": true
          },
          "lastSignInAt": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DateTime"
              }
            ],
            "nullable": true
          }
        }
      },
      "Signup": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "contacts": {
            "type": "string",
            "nullable": true
          },
          "selectedBooks": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "selectedBookIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "prioritiesSet": {
            "type": "boolean"
          }
        }
      },
      "BookPriority": {
        "type": "object",
        "properties": {
          "bookId": {
            "type": "string"
          },
          "bookName": {
            "type": "string"
          },
          "rank": {
            "type": "integer"
          }
        },
        "required": [
          "bookId",
          "bookName",
          "rank"
        ]
      },
      "BookSubmission": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "userEmail": {
            "type": "string",
            "nullable": true
          },
          "bookId": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string"
          },
          "topic": {
            "type": "string",
            "nullable": true
          },
          "author": {
            "type": "string"
          },
          "pages": {
            "type": "integer",
            "nullable": true
          },
          "publishedDate": {
            "type": "string",
            "nullable": true
          },
          "textUrl": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "coverUrl": {
            "type": "string",
            "nullable": true
          },
          "whyRead": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "approved",
              "rejected"
            ]
          },
          "rejectionReason": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "$ref": "#/components/schemas/DateTime"
          },
          "updatedAt": {
            "$ref": "#/components/schemas/DateTime"
          }
        }
      },
      "BookSubmissionInput": {
        "type": "object",
        "required": [
          "title",
          "author",
          "whyRead"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "whyRead": {
            "type": "string"
          },
          "topic": {
            "type": "string"
          },
          "pages": {
            "type": "integer"
          },
          "publishedDate": {
            "type": "string"
          },
          "textUrl": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "coverUrl": {
            "type": "string"
          }
        }
      },
      "IntroHeader": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string"
          }
        }
      },
      "IntroSection": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "sortOrder": {
            "type": "integer"
          },
          "isPublished": {
            "type": "boolean"
          }
        }
      },
      "IntroData": {
        "type": "object",
        "properties": {
          "header": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IntroHeader"
              }
            ],
            "nullable": true
          },
          "sections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IntroSection"
            }
          }
        }
      },
      "Feedback": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "message": {
            "type": "string"
          },
          "createdAt": {
            "$ref": "#/components/schemas/DateTime"
          }
        }
      },
      "MatchingParticipant": {
        "type": "object",
        "description": "Участник public state. Raw userId намеренно отсутствует.",
        "properties": {
          "ref": { "type": "string" },
          "displayName": { "type": "string" },
          "online": { "type": "boolean" },
          "confirmedCircleKey": { "type": "string", "nullable": true }
        },
        "required": ["ref", "displayName", "online", "confirmedCircleKey"]
      },
      "MatchingCircle": {
        "type": "object",
        "properties": {
          "circleKey": { "type": "string" },
          "bookId": { "type": "string" },
          "members": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ref": { "type": "string" },
                "displayName": { "type": "string" },
                "rank": { "type": "integer", "nullable": true },
                "interest": { "type": "string", "enum": ["очень хочу", "хочу", "без ранга"] },
                "confirmed": { "type": "boolean" }
              },
              "required": ["ref", "displayName", "rank", "interest", "confirmed"]
            }
          },
          "avgRank": { "type": "number", "nullable": true },
          "confirmedCount": { "type": "integer" },
          "memberCount": { "type": "integer" },
          "viewerIsMember": { "type": "boolean" }
        },
        "required": ["circleKey", "bookId", "members", "avgRank", "confirmedCount", "memberCount", "viewerIsMember"]
      },
      "MatchingScenario": {
        "type": "object",
        "properties": {
          "ref": { "type": "string" },
          "score": {
            "type": "object",
            "properties": {
              "coveredCount": { "type": "integer" },
              "totalCount": { "type": "integer" },
              "avgRank": { "type": "number", "nullable": true },
              "worstRank": { "type": "integer", "nullable": true }
            },
            "required": ["coveredCount", "totalCount", "avgRank", "worstRank"]
          },
          "leftOut": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": { "ref": { "type": "string" }, "displayName": { "type": "string" } },
              "required": ["ref", "displayName"]
            }
          },
          "circles": { "type": "array", "items": { "$ref": "#/components/schemas/MatchingCircle" } }
        },
        "required": ["ref", "score", "leftOut", "circles"]
      },
      "MatchingLockedCircle": {
        "type": "object",
        "properties": {
          "circleKey": { "type": "string" },
          "bookId": { "type": "string" },
          "lockedAt": { "$ref": "#/components/schemas/DateTime" },
          "members": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": { "ref": { "type": "string" }, "displayName": { "type": "string" } },
              "required": ["ref", "displayName"]
            }
          }
        },
        "required": ["circleKey", "bookId", "lockedAt", "members"]
      },
      "AdminMatchingLockedCircle": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "sessionId": { "type": "string" },
          "circleKey": { "type": "string" },
          "bookId": { "type": "string" },
          "bookTitle": { "type": "string", "nullable": true },
          "status": { "type": "string", "enum": ["locked", "dissolved"] },
          "lockedAt": { "$ref": "#/components/schemas/DateTime" },
          "dissolvedAt": { "allOf": [{ "$ref": "#/components/schemas/DateTime" }], "nullable": true },
          "dissolveReason": { "type": "string", "nullable": true },
          "members": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "userId": { "type": "string" },
                "displayNameSnapshot": { "type": "string" },
                "releasedAt": { "allOf": [{ "$ref": "#/components/schemas/DateTime" }], "nullable": true }
              },
              "required": ["userId", "displayNameSnapshot", "releasedAt"]
            }
          }
        },
        "required": ["id", "sessionId", "circleKey", "bookId", "bookTitle", "status", "lockedAt", "dissolvedAt", "dissolveReason", "members"]
      },
      "MatchingNotice": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "kind": { "type": "string", "enum": ["confirmation_transferred", "confirmation_invalidated", "circle_locked"] },
          "payload": { "type": "object", "additionalProperties": true },
          "createdAt": { "$ref": "#/components/schemas/DateTime" }
        },
        "required": ["id", "kind", "payload", "createdAt"]
      },
      "MatchingFrozenSnapshot": {
        "type": "object",
        "description": "Безопасная participant-facing часть frozen snapshot; raw userId отсутствует.",
        "properties": {
          "remainingLeader": {
            "type": "object",
            "nullable": true,
            "properties": {
              "circles": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "circleKey": { "type": "string" },
                    "bookId": { "type": "string" },
                    "memberRefs": { "type": "array", "items": { "type": "string" } }
                  },
                  "required": ["circleKey", "bookId", "memberRefs"]
                }
              }
            },
            "required": ["circles"]
          }
        },
        "required": ["remainingLeader"]
      },
      "MatchingPublicState": {
        "type": "object",
        "properties": {
          "session": {
            "type": "object",
            "properties": {
              "name": { "type": "string" },
              "status": { "type": "string", "enum": ["active", "frozen"] },
              "stateVersion": { "type": "integer" },
              "minGroupSize": { "type": "integer" },
              "maxGroupSize": { "type": "integer" },
              "deadlineAt": { "allOf": [{ "$ref": "#/components/schemas/DateTime" }], "nullable": true },
              "frozenSnapshot": { "allOf": [{ "$ref": "#/components/schemas/MatchingFrozenSnapshot" }], "nullable": true }
            },
            "required": ["name", "status", "stateVersion", "minGroupSize", "maxGroupSize", "deadlineAt", "frozenSnapshot"]
          },
          "viewer": {
            "type": "object",
            "properties": {
              "role": { "type": "string", "enum": ["active", "observer"] },
              "ref": { "type": "string" },
              "lockedCircleKey": { "type": "string", "nullable": true }
            },
            "required": ["role", "ref", "lockedCircleKey"]
          },
          "participants": { "type": "array", "items": { "$ref": "#/components/schemas/MatchingParticipant" } },
          "scenarios": { "type": "array", "items": { "$ref": "#/components/schemas/MatchingScenario" } },
          "lockedCircles": { "type": "array", "items": { "$ref": "#/components/schemas/MatchingLockedCircle" } },
          "notices": { "type": "array", "items": { "$ref": "#/components/schemas/MatchingNotice" } }
        },
        "required": ["session", "viewer", "participants", "scenarios", "lockedCircles", "notices"]
      },
      "MatchingEvent": {
        "type": "object",
        "description": "Смысловое событие matching для админской аналитики.",
        "properties": {
          "id": { "type": "string" },
          "sessionId": { "type": "string" },
          "eventType": {
            "type": "string",
            "enum": [
              "self_join", "welcome_name_changed", "admin_add", "leave", "admin_remove",
              "confirmation_created", "confirmation_switched", "confirmation_cancelled",
              "confirmation_transferred", "confirmation_invalidated", "circle_locked",
              "circle_dissolved", "dissolve_circle", "freeze", "change_book", "change_rank", "change_status",
              "replace_signup", "reorder_priorities", "change_group_size"
            ]
          },
          "source": { "type": "string" },
          "actorUserId": { "type": "string", "nullable": true },
          "actorNameSnapshot": { "type": "string", "nullable": true },
          "subjectUserId": { "type": "string", "nullable": true },
          "subjectNameSnapshot": { "type": "string", "nullable": true },
          "bookId": { "type": "string", "nullable": true },
          "before": { "type": "object", "nullable": true },
          "after": { "type": "object", "nullable": true },
          "metadata": { "type": "object", "nullable": true },
          "stateVersion": { "type": "integer" },
          "occurredAt": { "$ref": "#/components/schemas/DateTime" }
        },
        "required": [
          "id", "sessionId", "eventType", "source",
          "actorUserId", "actorNameSnapshot", "subjectUserId", "subjectNameSnapshot",
          "bookId", "before", "after", "metadata", "stateVersion", "occurredAt"
        ]
      },
      "MatchingConfirmationRequest": {
        "type": "object",
        "properties": {
          "circleKey": { "type": "string", "minLength": 1, "pattern": ".*\\S.*", "description": "Сервер trim-ит строку и отклоняет пустой ключ" },
          "expectedStateVersion": { "type": "integer", "minimum": 0 }
        },
        "required": ["circleKey", "expectedStateVersion"]
      },
      "MatchingTransitionResult": {
        "type": "object",
        "properties": {
          "stateVersion": { "type": "integer" },
          "changed": { "type": "boolean" }
        },
        "required": ["stateVersion", "changed"],
        "additionalProperties": true
      },
      "MatchingTransitionSuccess": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "enum": [true] },
          "stateVersion": { "type": "integer" },
          "changed": { "type": "boolean" }
        },
        "required": ["success", "stateVersion", "changed"]
      },
      "MatchingOkTransitionResult": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean", "enum": [true] },
          "stateVersion": { "type": "integer" },
          "changed": { "type": "boolean" }
        },
        "required": ["ok", "stateVersion", "changed"]
      },
      "AdminMatchingSession": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "status": { "type": "string", "enum": ["active", "frozen"] },
          "minGroupSize": { "type": "integer" },
          "maxGroupSize": { "type": "integer" },
          "deadlineAt": { "allOf": [{ "$ref": "#/components/schemas/DateTime" }], "nullable": true },
          "createdAt": { "$ref": "#/components/schemas/DateTime" },
          "frozenAt": { "allOf": [{ "$ref": "#/components/schemas/DateTime" }], "nullable": true },
          "frozenScenarioJson": { "type": "object", "nullable": true },
          "stateVersion": { "type": "integer" }
        },
        "required": [
          "id", "name", "status", "minGroupSize", "maxGroupSize", "deadlineAt",
          "createdAt", "frozenAt", "frozenScenarioJson", "stateVersion"
        ]
      },
      "AdminMatchingParticipant": {
        "type": "object",
        "properties": {
          "userId": { "type": "string" },
          "publicRef": { "type": "string" },
          "joinSource": { "type": "string", "enum": ["self", "admin"] },
          "joinedAt": { "$ref": "#/components/schemas/DateTime" },
          "name": { "type": "string", "nullable": true },
          "role": { "type": "string", "enum": ["active", "observer"] }
        },
        "required": ["userId", "publicRef", "joinSource", "joinedAt", "name", "role"]
      },
      "AdminMatchingParticipantsResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "enum": [true] },
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/AdminMatchingParticipant" } },
          "online": { "type": "array", "items": { "type": "string" } }
        },
        "required": ["success", "data", "online"]
      },
      "BookSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "bookId": {
            "type": "string"
          },
          "authorUserId": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "tldr": {
            "type": "string"
          },
          "bodyMarkdown": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "pending",
              "published",
              "rejected"
            ]
          },
          "rejectionReason": {
            "type": "string",
            "nullable": true
          },
          "submittedAt": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DateTime"
              }
            ],
            "nullable": true
          },
          "publishedAt": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DateTime"
              }
            ],
            "nullable": true
          },
          "rejectedAt": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DateTime"
              }
            ],
            "nullable": true
          },
          "createdAt": {
            "$ref": "#/components/schemas/DateTime"
          },
          "updatedAt": {
            "$ref": "#/components/schemas/DateTime"
          },
          "bookTitle": {
            "type": "string",
            "nullable": true
          },
          "bookAuthor": {
            "type": "string",
            "nullable": true
          },
          "bookSlug": {
            "type": "string",
            "nullable": true,
            "description": "Уникальный красивый URL книги; до первой модерации может отсутствовать."
          },
          "authorName": {
            "type": "string",
            "nullable": true
          },
          "authorEmail": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id",
          "bookId",
          "authorUserId",
          "displayName",
          "title",
          "tldr",
          "bodyMarkdown",
          "status",
          "rejectionReason",
          "submittedAt",
          "publishedAt",
          "createdAt",
          "updatedAt"
        ]
      },
      "BookSummaryRevision": {
        "type": "object",
        "description": "Активные правки опубликованного саммари. До admin publish публичная версия не меняется.",
        "properties": {
          "id": {
            "type": "string"
          },
          "summaryId": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "tldr": {
            "type": "string"
          },
          "bodyMarkdown": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "pending",
              "rejected"
            ]
          },
          "rejectionReason": {
            "type": "string",
            "nullable": true
          },
          "submittedAt": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DateTime"
              }
            ],
            "nullable": true
          },
          "createdAt": {
            "$ref": "#/components/schemas/DateTime"
          },
          "updatedAt": {
            "$ref": "#/components/schemas/DateTime"
          },
          "bookId": {
            "type": "string",
            "nullable": true
          },
          "bookSlug": {
            "type": "string",
            "nullable": true,
            "description": "Уникальный красивый URL связанной книги."
          },
          "authorUserId": {
            "type": "string",
            "nullable": true
          },
          "publishedTitle": {
            "type": "string",
            "nullable": true
          },
          "publishedTldr": {
            "type": "string",
            "nullable": true
          },
          "publishedBodyMarkdown": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id",
          "summaryId",
          "displayName",
          "title",
          "tldr",
          "bodyMarkdown",
          "status",
          "rejectionReason",
          "submittedAt",
          "createdAt",
          "updatedAt"
        ]
      },
      "BookSummaryPatch": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "tldr": {
            "type": "string"
          },
          "bodyMarkdown": {
            "type": "string"
          }
        }
      },
      "AdminBookSummaryPatch": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BookSummaryPatch"
          },
          {
            "type": "object",
            "properties": {
              "bookSlug": {
                "type": "string",
                "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$",
                "maxLength": 100,
                "description": "Уникальный slug книги. Обязателен до publish или reject."
              },
              "rejectionReason": {
                "type": "string",
                "nullable": true
              }
            }
          }
        ]
      },
      "BookSummaryRejectInput": {
        "type": "object",
        "properties": {
          "rejectionReason": {
            "type": "string"
          }
        },
        "required": [
          "rejectionReason"
        ]
      }
    }
  },
  "paths": {
    "/api/books": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Список опубликованных книг",
        "description": "Возвращает опубликованные книги из Postgres-каталога.",
        "responses": {
          "200": {
            "description": "Список книг",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "books": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublicBook"
                      }
                    }
                  },
                  "required": [
                    "books"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/intro": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Опубликованные intro-блоки",
        "responses": {
          "200": {
            "description": "Intro data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntroData"
                }
              }
            }
          }
        }
      }
    },
    "/api/feedback": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Отправить обратную связь",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message"
                ],
                "properties": {
                  "message": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешно",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "400": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/og": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "Open Graph image",
        "responses": {
          "200": {
            "description": "PNG image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/telegram/callback": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Telegram Login Widget callback",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Telegram user id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hash",
            "in": "query",
            "required": false,
            "description": "Telegram HMAC hash",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first_name",
            "in": "query",
            "required": false,
            "description": "First name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_name",
            "in": "query",
            "required": false,
            "description": "Last name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": false,
            "description": "Telegram username",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to /auth/telegram with a short-lived token and timestamp, or /?auth=failed. The redirect URL does not include the internal user id or Telegram username."
          }
        }
      }
    },
    "/api/account/identities/email": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Запросить письмо для привязки почты к текущему профилю",
        "description": "Требует активную session cookie. Создаёт одноразовый token для пары current userId + email и отправляет письмо подтверждения через Resend.",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Письмо отправлено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "400": {
            "description": "Invalid email",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/account/identities/email/callback": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Подтвердить привязку почты",
        "description": "Требует активную session cookie того же пользователя, для которого был создан token. После consume привязывает email identity к текущему профилю и редиректит на главную с account_link статусом.",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "307": {
            "description": "Redirect to /?account_link=email_ok, email_conflict, email_failed, email_state_failed or email_unauthorized."
          }
        }
      }
    },
    "/api/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Текущий пользователь",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "User",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  },
                  "required": [
                    "user"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/user": {
      "delete": {
        "tags": [
          "Auth"
        ],
        "summary": "Удалить текущий аккаунт",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/profile": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Профиль: языки",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Profile fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "languages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Auth"
        ],
        "summary": "Обновить профиль",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "languages": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "name": {
                    "type": "string"
                  },
                  "contacts": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "nullable": true
                    },
                    "contacts": {
                      "type": "string",
                      "nullable": true
                    },
                    "languages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/signup": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Записаться на выбранные книги",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "contacts",
                  "selectedBookIds"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "contacts": {
                    "type": "string"
                  },
                  "selectedBookIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешно",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "400": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/priorities": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Приоритеты книг пользователя",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Priorities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BookPriority"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Auth"
        ],
        "summary": "Сохранить порядок приоритетов",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bookIds"
                ],
                "properties": {
                  "bookIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешно",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "400": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/submissions": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Мои заявки книг",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Submissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "submissions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BookSubmission"
                      }
                    }
                  },
                  "required": [
                    "submissions"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Создать заявку книги",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BookSubmissionInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/BookSubmission"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/submissions/{id}": {
      "delete": {
        "tags": [
          "Auth"
        ],
        "summary": "Удалить свою заявку",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Submission id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/activity/site-visit": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Записать визит пользователя",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/matching/sessions": {
      "get": {
        "tags": ["Admin"],
        "summary": "Получить matching-сессии",
        "security": [{ "sessionCookie": [] }],
        "responses": {
          "200": { "description": "Список сессий", "content": { "application/json": { "schema": {
            "type": "object",
            "properties": {
              "success": { "type": "boolean", "enum": [true] },
              "data": { "type": "array", "items": { "$ref": "#/components/schemas/AdminMatchingSession" } }
            },
            "required": ["success", "data"]
          } } } },
          "403": { "description": "Forbidden", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      },
      "post": {
        "tags": ["Admin"],
        "summary": "Создать active matching-сессию",
        "security": [{ "sessionCookie": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": {
          "type": "object",
          "properties": {
            "name": { "type": "string", "minLength": 1, "pattern": ".*\\S.*", "description": "После trim должна остаться хотя бы одна непробельная буква" },
            "minGroupSize": { "type": "integer", "minimum": 2, "maximum": 10, "default": 3 },
            "maxGroupSize": { "type": "integer", "minimum": 2, "maximum": 10 },
            "deadlineAt": { "allOf": [{ "$ref": "#/components/schemas/DateTime" }], "nullable": true }
          },
          "required": ["name"]
        } } } },
        "responses": {
          "201": { "description": "Сессия создана", "content": { "application/json": { "schema": {
            "type": "object",
            "properties": {
              "success": { "type": "boolean", "enum": [true] },
              "data": {
                "type": "object",
                "properties": {
                  "id": { "type": "string" }, "name": { "type": "string" },
                  "status": { "type": "string", "enum": ["active"] },
                  "minGroupSize": { "type": "integer" }, "maxGroupSize": { "type": "integer" }
                },
                "required": ["id", "name", "status", "minGroupSize", "maxGroupSize"]
              }
            },
            "required": ["success", "data"]
          } } } },
          "400": { "description": "Invalid JSON, trimmed name, group size or deadline", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "Forbidden", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "409": { "description": "An active session already exists", "content": { "application/json": { "schema": {
            "type": "object", "properties": { "error": { "type": "string" }, "activeSessionId": { "type": "string" } },
            "required": ["error", "activeSessionId"]
          } } } }
        }
      }
    },
    "/api/matching/state": {
      "get": {
        "tags": ["Auth"],
        "summary": "Public state matching-сессии",
        "description": "Возвращает реальные display names, но не raw userId. Доступно участнику сессии; админ может передать as.",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          { "name": "session", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "as", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Только admin impersonation" }
        ],
        "responses": {
          "200": {
            "description": "Полное публичное состояние",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MatchingPublicState" } } }
          },
          "400": { "description": "session param required", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "Not a participant", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "Session not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "description": "Public state assembly failed", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/matching/version": {
      "get": {
        "tags": ["Auth"],
        "summary": "Лёгкий polling matching-сессии",
        "security": [{ "sessionCookie": [] }],
        "parameters": [{ "name": "session", "in": "query", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": {
            "description": "Версия, статус и непрозрачные online refs",
            "content": { "application/json": { "schema": {
              "type": "object",
              "properties": {
                "version": { "type": "integer" },
                "status": { "type": "string", "enum": ["active", "frozen"] },
                "online": { "type": "array", "items": { "type": "string" } }
              },
              "required": ["version", "status", "online"]
            } } }
          },
          "400": { "description": "session param required", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "Not a participant", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "Session not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/matching/sessions/{id}/join": {
      "post": {
        "tags": ["Auth"],
        "summary": "Сохранить глобальное имя и вступить в matching-сессию",
        "security": [{ "sessionCookie": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": {
          "type": "object",
          "properties": { "name": { "type": "string", "minLength": 1, "pattern": ".*\\S.*", "description": "Сервер trim-ит строку и отклоняет пустое значение" } },
          "required": ["name"]
        } } } },
        "responses": {
          "200": { "description": "Участник добавлен", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MatchingTransitionResult" } } } },
          "400": { "description": "Trimmed nonblank name required", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "Session not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "409": { "description": "Любая иная доменная ошибка join", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "description": "Unexpected transition failure", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/matching/sessions/{id}/leave": {
      "delete": {
        "tags": ["Auth"],
        "summary": "Покинуть matching-сессию",
        "description": "Доступно только active-участнику. Закреплённый observer не может покинуть круг самостоятельно.",
        "security": [{ "sessionCookie": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": {
          "type": "object",
          "properties": { "expectedStateVersion": { "type": "integer", "minimum": 0 } },
          "required": ["expectedStateVersion"]
        } } } },
        "responses": {
          "200": { "description": "Участник вышел; сценарии и подтверждения согласованы", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MatchingTransitionResult" } } } },
          "400": { "description": "expectedStateVersion required", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "Session not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "409": { "description": "Любая иная доменная ошибка leave, включая stale/locked/missing", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "description": "Unexpected transition failure", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/matching/sessions/{id}/confirmation": {
      "put": {
        "tags": ["Auth"],
        "summary": "Подтвердить или атомарно переключить выбранный круг",
        "security": [{ "sessionCookie": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MatchingConfirmationRequest" } } } },
        "responses": {
          "200": { "description": "Переход выполнен", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MatchingTransitionResult" } } } },
          "400": { "description": "circleKey and expectedStateVersion required", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "Participant missing", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "Session or circle not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "409": { "description": "Stale state, frozen session or locked participant", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "description": "Cascade limit or unexpected transition failure", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      },
      "delete": {
        "tags": ["Auth"],
        "summary": "Отменить временное подтверждение",
        "security": [{ "sessionCookie": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": {
          "type": "object",
          "properties": { "expectedStateVersion": { "type": "integer", "minimum": 0 } },
          "required": ["expectedStateVersion"]
        } } } },
        "responses": {
          "200": { "description": "Подтверждение отменено", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MatchingTransitionResult" } } } },
          "400": { "description": "expectedStateVersion required", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "Participant missing", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "Session or circle not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "409": { "description": "Stale state, frozen session or locked participant", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "description": "Cascade limit or unexpected transition failure", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/matching/books": {
      "post": {
        "tags": ["Auth"],
        "summary": "Добавить книгу в matching",
        "description": "Добавляет активную запись и запускает транзакционный пересчёт; admin может передать query-параметр as.",
        "security": [{ "sessionCookie": [] }],
        "parameters": [{ "name": "as", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Только admin" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": {
          "type": "object",
          "properties": {
            "bookId": { "type": "string", "minLength": 1, "pattern": ".*\\S.*", "description": "Сервер trim-ит строку и отклоняет пустое значение" }
          },
          "required": ["bookId"]
        } } } },
        "responses": {
          "200": { "description": "Книга добавлена", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MatchingTransitionResult" } } } },
          "400": { "description": "Trimmed bookId required", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "Forbidden impersonation or participant missing", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "No active session, session or circle not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "409": { "description": "Frozen/stale/locked transition conflict", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "description": "Cascade limit or unexpected transition failure", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/matching/books/{bookId}": {
      "delete": {
        "tags": ["Auth"],
        "summary": "Убрать книгу из matching",
        "description": "Деактивирует запись и запускает перенос либо сброс временного подтверждения.",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          { "name": "bookId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "as", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Только admin" }
        ],
        "responses": {
          "200": { "description": "Книга убрана", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MatchingTransitionResult" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "Forbidden impersonation or participant missing", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "No active session, session or circle not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "409": { "description": "Frozen/stale/locked transition conflict", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "description": "Cascade limit or unexpected transition failure", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/matching/priorities": {
      "patch": {
        "tags": ["Auth"],
        "summary": "Сохранить порядок книг matching",
        "description": "Присваивает канонические ранги и запускает reconciliation; admin может передать query-параметр as.",
        "security": [{ "sessionCookie": [] }],
        "parameters": [{ "name": "as", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Только admin" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": {
          "type": "object",
          "properties": {
            "bookIds": { "type": "array", "minItems": 1, "items": { "type": "string" } }
          },
          "required": ["bookIds"]
        } } } },
        "responses": {
          "200": { "description": "Канонические ранги", "content": { "application/json": { "schema": {
            "type": "object",
            "properties": { "ranks": { "type": "array", "items": {
              "type": "object",
              "properties": { "bookId": { "type": "string" }, "rank": { "type": "integer" } },
              "required": ["bookId", "rank"]
            } } },
            "required": ["ranks"]
          } } } },
          "400": { "description": "bookIds must be a non-empty string array", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "Forbidden impersonation or participant missing", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "No active session, session or circle not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "409": { "description": "Frozen/stale/locked transition conflict", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "description": "Cascade limit or unexpected transition failure", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/matching/notices/{id}/ack": {
      "post": {
        "tags": ["Auth"],
        "summary": "Пометить matching-уведомление прочитанным",
        "security": [{ "sessionCookie": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Прочитано", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Ok" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "Notice not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/matching/sessions/{id}/freeze": {
      "post": {
        "tags": ["Admin"],
        "summary": "Заморозить matching-сессию",
        "description": "Сохраняет итоговый snapshot и запрещает последующие доменные изменения.",
        "security": [{ "sessionCookie": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Сессия заморожена", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MatchingOkTransitionResult" } } } },
          "403": { "description": "Forbidden or participant missing", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "Session or circle not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "409": { "description": "Frozen/stale/locked session conflict", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "description": "Cascade limit or unexpected transition failure", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/matching/sessions/{id}": {
      "patch": {
        "tags": ["Admin"],
        "summary": "Изменить диапазон размера кругов",
        "security": [{ "sessionCookie": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": {
          "type": "object",
          "properties": {
            "minGroupSize": { "type": "integer", "minimum": 2, "maximum": 10 },
            "maxGroupSize": { "type": "integer", "minimum": 2, "maximum": 10 }
          },
          "required": ["minGroupSize", "maxGroupSize"]
        } } } },
        "responses": {
          "200": { "description": "Размеры сохранены и сценарии пересчитаны", "content": { "application/json": { "schema": {
            "type": "object",
            "properties": {
              "ok": { "type": "boolean", "enum": [true] },
              "minGroupSize": { "type": "integer" }, "maxGroupSize": { "type": "integer" }
            },
            "required": ["ok", "minGroupSize", "maxGroupSize"]
          } } } },
          "400": { "description": "Invalid group size range", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "Forbidden or participant missing", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "Session or circle not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "409": { "description": "Frozen/stale/locked session conflict", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "description": "Cascade limit or unexpected transition failure", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/admin/matching/sessions/{id}/participants": {
      "get": {
        "tags": ["Admin"],
        "summary": "Получить участников matching-сессии",
        "description": "Возвращает реальные имена, joinSource, active/observer и отдельный список online public refs.",
        "security": [{ "sessionCookie": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Участники и presence", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AdminMatchingParticipantsResponse" } } } },
          "403": { "description": "Forbidden", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      },
      "post": {
        "tags": ["Admin"],
        "summary": "Принудительно добавить участника",
        "description": "Тестовый/операционный путь, который обходит пользовательский Welcome disclosure и помечает joinSource=admin.",
        "security": [{ "sessionCookie": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": {
          "type": "object", "properties": { "userId": { "type": "string", "minLength": 1 } }, "required": ["userId"]
        } } } },
        "responses": {
          "201": { "description": "Участник добавлен", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MatchingTransitionSuccess" } } } },
          "400": { "description": "userId required", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "Forbidden or participant missing", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "Session or circle not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "409": { "description": "Frozen/stale/locked session conflict", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "description": "Cascade limit or unexpected transition failure", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/admin/matching/sessions/{id}/participants/{userId}": {
      "delete": {
        "tags": ["Admin"],
        "summary": "Удалить активного участника",
        "description": "Observer необратим для участника; закреплённый круг сначала распускают целиком отдельным аварийным действием.",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "userId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Участник удалён", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MatchingTransitionSuccess" } } } },
          "403": { "description": "Forbidden or participant missing", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "Session or circle not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "409": { "description": "Frozen/stale/locked session conflict", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "description": "Cascade limit or unexpected transition failure", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/admin/matching/sessions/{id}/locked-circles": {
      "get": {
        "tags": ["Admin"],
        "summary": "Получить реестр закреплённых и распущенных кругов",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "История кругов с названиями книг и снимками состава",
            "content": { "application/json": { "schema": {
              "type": "object",
              "properties": {
                "success": { "type": "boolean", "enum": [true] },
                "data": { "type": "array", "items": { "$ref": "#/components/schemas/AdminMatchingLockedCircle" } }
              },
              "required": ["success", "data"]
            } } }
          },
          "403": { "description": "Forbidden", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/admin/matching/sessions/{id}/circles/{circleId}/dissolve": {
      "post": {
        "tags": ["Admin"],
        "summary": "Аварийно распустить закреплённый круг целиком",
        "security": [{ "sessionCookie": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "circleId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": {
          "type": "object",
          "properties": { "reason": { "type": "string", "minLength": 1, "pattern": ".*\\S.*", "description": "Сервер trim-ит строку и отклоняет пустую причину" } },
          "required": ["reason"]
        } } } },
        "responses": {
          "200": { "description": "Весь состав возвращён в active", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MatchingTransitionSuccess" } } } },
          "400": { "description": "Trimmed nonblank reason required", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "Forbidden or participant missing", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "Session or circle not found; circle_not_found maps to 404", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "409": { "description": "Frozen/stale/locked session conflict", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "description": "Cascade limit or unexpected transition failure", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/admin": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin dashboard data",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Signups grouped by users and books",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Signup"
                      }
                    },
                    "byBook": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Signup"
                        }
                      }
                    }
                  },
                  "required": [
                    "users",
                    "byBook"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/status": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "CI и Vercel deploy status",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ci": {
                      "type": "object",
                      "nullable": true
                    },
                    "deploy": {
                      "type": "object",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/matching/preference-events": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Аналитика изменений предпочтений matching",
        "description": "Возвращает смысловые события из `matching_events`; доступно только администраторам. URL сохранён для совместимости админского UI.",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "name": "sessionId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actorUserId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Preference events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MatchingEvent"
                      }
                    }
                  },
                  "required": [
                    "events"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/digest-status": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Статус очереди digest-уведомлений",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Digest queue status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "empty",
                        "cooling",
                        "ready"
                      ]
                    },
                    "count": {
                      "type": "integer"
                    },
                    "sendAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/posthog-usage": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Использование PostHog за месяц",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Usage",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "eventsThisMonth": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "eventsThisMonth",
                    "limit"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/feedback": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Список feedback-сообщений",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Feedback rows",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Feedback"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/users": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Сводка пользователей",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/users/{id}": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Детали пользователя",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "User id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/delete-user": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Удалить пользователя администратором",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userId"
                ],
                "properties": {
                  "userId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
[...]
